.editor {
  background-color: #011627;
  overflow-x: auto;
  margin: 0 calc(var(--space-l) * -1);
  border-radius: var(--space-s);
  box-shadow: var(--box-shadow--editor);

  code {
    padding: var(--space-l);
    overflow-x: auto;
    display: block;
    font-family: "Menlo", "Monaco", monospace;
    font-size: var(--type-s);
    line-height: 1.5;
    color: #FFFFFF;
  }

  .si, .nt {
    color: #ec5f67;
  }

  .n, .p {
    color: #FFFFFF;
  }

  .c1, .c {
    color: #637777;
  }

  .k {
    color: #c792ea;
  }

  .nc, .s, .s1, .s2, .m {
    color: #ffcb8b;;
  }

  .kp, .vi, .nb, .ss, .nl {
    color: #7fdbca;
  }

  .nf {
    color: #82aaff;
    font-style: italic;
  }

  .o, .no, .nd, .na, .py {
    color: #addb67;
  }
}
