.language-plaintext {
  font-family: "Menlo", "Monaco", monospace;
  background-color: var(--color-highlight);
  padding: 0 0.1em;
  border-radius: 0.1em;
  white-space: nowrap;
  font-size: var(--type-s);
}
