.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--space-m);
  max-width: 62rem;
}

.content {
  margin-right: auto;
  margin-left: auto;
  max-width: 70ch;
}

.cluster {
  --cluster-space: calc(var(--space-s) / 2);

  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--cluster-space) * -1);

  > * {
    margin: var(--cluster-space);
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.stack-l > * + * {
  margin-top: var(--space-l);
}

.gif {
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}
